name: Java CI with Maven

on:
    push:
        branches: ["main", "dev-master"]
    pull_request:
        branches: ["main", "dev-master"] 

jobs:
    test:
        name: Unit & Integration Tests
        runs-on: ubuntu-latest

        steps: 
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup JDK 17
              uses: actions/setup-java@v4
              with:
                java-version: '17'
                distribution: 'temurin'
                cache: 'maven'
                server-id: github
                settings-path: ${{ github.workspace }}
            - name: Run Tests with Maven
              run: mvn -B clean verify

            - name: Upload Test Report
              uses: actions/upload-artifact@v4
              if: failure()
              with:
                name: target-reports
                path: target/surefire-reports
